@import '/src/scss/color.scss';
@import '/src/scss/font.scss';
@import '/src/scss/variable.scss';

body{
                  font-family: $font-letter;
                  font-weight: $font-text;
                  font-style: $font-level;
}
.section{
                  @include displayflex (center,center);
                  margin : 10%;
                                    @media screen and (max-width: 600px) {
                                        flex-direction: column;
                                    }

  &__head{

                  @include displayflex (center,center);
                  width:300px;
                  border:1px solid transparent;
                  background-color: $bg4-color-backcolor;
                  border-radius: 10px;
                  text-align: center;
                  padding: 10px;
                  margin: 10px;
                  box-shadow: 0px 2px 3px rgba(35, 35, 35, 0.3);
                  flex-direction: column;

                                    @media screen and (max-width: 600px) {
                                        width: 100%;
                                    }

  &__container{
 
                  @include displayflex (center,center);
                  flex-direction: column;
                  margin-top: 10%;

                                
                                    @media screen and (max-width: 600px) {
                                        margin-top: 5%;
                                    }

  &__image{
      
                  height: 150px;
                  width: 150px;
                  border-radius: 50%;
                  border: 5px solid $bg3-color-proimage;
                   }
      

  &__heading{
           
                  margin-bottom: -10px;
      }

  &__sub{
                  font-family: cursive;
                  margin-top: 10px;
      }
      }
      
  &__banner{
                  @include displayflex (center,center);
                  flex-direction: column;
                  margin-top:-10px;

                                        @media screen and (max-width: 600px) {
                                            margin-top: -20px;
                                        }

  &__child{
  &__para{
                  font-weight: 400;
                  font-style: italic;
                  font-size:medium;

                                        @media screen and (max-width: 600px) {
                                            font-size: small;
                                        }

  }
                  }
  &__footer{
  &__btn{
                  @include displayflex (center,center);
                  background-color:$bg1-color ;
                  color: $bg2-color;
                  border: 0px solid;
                  padding:10px 20px;
                  cursor: pointer;
                  border-radius: 5px; 
                  
                                        @media screen and (max-width: 600px) {
                                            padding: 8px 16px;
                                        }
      }       
      }        
      }
      } 
      }