/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
  }
  .container__image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid red;
  }
  .container__image__heading{
    margin-bottom: -10px;
  }
  .container__image__heading__sub {
    font-family: cursive;
    margin-top: 10px;
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-10px;
  }
  .banner__child {
    text-align: center;
    height:180px;
    width: 300px;
    padding: 10px;
    font-weight: bolder;
  }
  .footer button{
    background-color:teal ;
    color: white;
    border: 0px solid;
    padding:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .section__head{
    width:300px;
    border:1px solid transparent;
    background-color:#ede2e2;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 50px;
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (min-width: 900px){
    .section__head {
      flex-direction: column ;
    }
  
    .container {
      flex-direction: column;
      margin-right: 20px;
    }
  
    .banner__child {
      flex-direction: column;
      max-width: 400px;
    }
  } */



  {/* <div className='section__head'>
    <div className='section__head__container'>
    <img className='section__head__container__image' src={Image2} alt="" />
    <h2 className='section__head__container__heading'>Dhinesh kumar</h2>
    <p className='section__head__container__sub'>Software Developer</p>
    </div>
      <div className='section__head__banner'>
      <div className='section__head__banner__child'>
      <p className='section__head__banner__child__para'>Web developer with a strong background in developing award-winning applications for a diverse clientele.
         3+ years of industry experience includes programming, debugging, and wireframes.
      </p>
      </div>
    <div className='section__head__banner__footer'>
      <button className='section__head__banner__footer__btn'>Add User 2</button>
    </div>
    </div>
   </div>


   <div className='section__head'>
  <div className='section__head__container' >
    <img className='section__head__container__image' src={Image3} alt="" />
    <h2 className='section__head__container__heading'>Ajith Kumar</h2>
    <p className='section__head__container__sub'>Sr.Software Developer</p>
    </div>
      <div className='section__head__banner'>
      <div className='section__head__banner__child'>
      <p className='section__head__banner__child__para'>Web developer with a strong background in developing award-winning applications for a diverse clientele.
         5+ years of industry experience includes programming, debugging, and wireframes.
      </p>
      </div>
    <div className='section__head__banner__footer'>
      <button className='section__head__banner__footer__btn'>Add User 3</button>
    </div>
    </div>
   </div> */}
  