
$bg1-color:teal;
$bg2-color:white;


.footer button{
    background-color:$bg1-color ;
    color: $bg2-color;
    border: 0px solid;
    padding:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }